<mat-card>
  <h1 style="text-align: center; color: #1976d2">
    <a routerLink="/" style="color: inherit; text-decoration: none"
      >TinySD UI</a
    >
  </h1>
  <nav style="text-align: center; margin-bottom: 24px">
    <a matButton routerLink="/logs" style="margin: 0 12px; font-size: large"
      >Logs</a
    >
    <a
      matButton
      routerLink="/image-generator"
      style="margin: 0 12px; font-size: large"
      >Image Generator</a
    >
  </nav>
  <div style="margin: 32px 0; text-align: center; color: #888">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</mat-card>
