# Node
node_modules/
dist/
coverage/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
*.local

# Build output
/build/

# Misc
*.tgz

# Nx
nx-out/

# Others
*.log
*.pid
*.seed
*.pid.lock

# Ignore local env files
*.local.env
