# Server
PORT=3000

# Database
DB_CONN_STRING=mongodb://<user>:<password>@<host>:<port>
DB_NAME=tinysd

CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
CLOUDINARY_FOLDER=... # optional
